<ion-header [translucent]="true">
</ion-header>

<ion-grid>
  <ion-row>
      <ion-img  class="logo-img" src="/assets/logo-blanc.png"></ion-img>
  </ion-row>
  <ion-row>
      <ion-header> Bienvenu: 'nom client'</ion-header>
  </ion-row>
  <ion-row>
    <ion-text class='ges-text'>Gestionaire</ion-text>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="cal-but" shape="round">
        <ion-icon class="cal-icon" name="calendar"></ion-icon>
      </ion-button>
      <ion-text class="cal-text">Calendrier</ion-text>
    </ion-col>

    <ion-col>
      <ion-button class='map-but' shape="round">
        <ion-icon class='map-icon' name="location"></ion-icon>
      </ion-button>
      <ion-text class="map-text">Carte</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-text class="ser-text">Services</ion-text>
</ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="truck-but" shape="round">
        <ion-img class="truck-img" src="/assets/truck-256.png"></ion-img>
      </ion-button>
      <ion-text class="cam-text">Camion</ion-text>
    </ion-col>
    
    <ion-col>
      <ion-button class='cont-but' shape="round">
        <ion-img class="cont-img" src="/assets/container.png"></ion-img>
      </ion-button>
      <ion-text class="con-text">Conteneur</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>




